/* @import url('https://fonts.googleapis.com/css2?family=Stalemate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap'); */

@font-face {
    font-family: 'Adelia';
    src: url('../fonts/adelia.woff2') format('woff2'),
         url('../fonts/adelia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway.woff2') format('woff2'), 
         url('../fonts/raleway.woff') format('woff'); 
    font-weight: normal;
    font-style: normal;
}

:root {
    --font-primary: 'Raleway';
    --font-heading: 'Adelia';
    --secondary-color: color(display-p3 0.992 0.945 0.851); 
    --hover-color-dark: color(display-p3 0.69 0.53 0.75); 
    --hover-color-light: color(display-p3 0.88 0.78 0.92); 
}


* {
    box-sizing: border-box;
    font-family: var(--font-primary);
}

.page-header {
    font-family: var(--font-heading);
}

main {
    flex: 1;
}

body {
    display: flex;
    flex-direction: column;
}

footer {
    padding: 10px !important;
}

footer p {
    margin: 0;
    padding: 0;
}